body{
    overflow-y: hidden;
}
.habit-container{
    /* Size */
    max-height: 800px;
    
    /* Look */
    gap: 20px;
    
    /* Flex */
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.habit{
    min-width: 100px;
    min-height: 100px;
    
    /* Look */
    border: 2px black dotted;
    
    /* Margins \ Padding */
    padding: 5px;
    
    /* Look */
    line-height: 1px;
}
.start_habit{
    position: absolute;
    transform: translateX(70px) translateY(-15px);
}

/* Navigation Menu */
.navbar{
    width: 15%;
    height: 100vh;
    position: absolute;
    background-color: slategrey;
    transform: translateX(-50vh);
    transition: all .5s;
}
/* Show navigation bar with animation */
.navbar-show{
    transform: translateX(0);
    transition: all .5s;
}

.profile-container{
    line-height: 0px;
}