@import 'palette.css';

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:var(--backgroundcolor);
    overflow: hidden;
}

/* Navbar styling */
nav{
    text-align: right;
    color: var(--secondarycolor);
    /* padding: 15px; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0 0 5px 5px;
    gap: 50px;

    font-size: 15px;
}

nav img{
    width: 50px;
    height: 50px;
}
nav a:nth-child(n-3){
    color: var(--secondarycolor);
    text-decoration: none;
    font-weight: bolder;
    transition: all 0.3s ease;
}
nav a:nth-child(n+3), button{
    color: var(--secondarycolor); 
    background-color: var(--primarycolor); 
    font-weight: bold; 

    padding: 10px 30px; 
    border-radius: 25px; 
    border: 1px solid var(--primarycolor);

    cursor: pointer; /* Pointer cursor to indicate it's clickable */
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

/* Hover effect */
nav a:nth-child(n+3):hover{
    background-color: var(--backgroundcolor); 
    border: 1px solid var(--primarycolor);
}
button:hover{
    background-color: var(--secondarycolor);
    border: 1px solid var(--primarycolor);
    color: var(--primarycolor); 
}
nav a:nth-child(n-3):hover{
    color: var(--primarycolor);
    transform: translateY(2px);
}


/* Welcome Section styling */
.container-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 20px;
    color: var(--secondarycolor);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.logo{
    display: flex;
    align-items: center;
}
.container h1 {
    color: var(--primarycolor);
    font-size: 3em;
}
.content {
    height: 1500px; /* Make the content  scrollable  */
}
/* CREATOR DESIGN*/
/* .creators {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.creator {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.creator img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}

.creator h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: var(--primarycolor);
}

.creator p {
    font-size: 16px;
} */


