@import './css/palette.css';

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:var(--backgroundcolor);
}

/* Navbar styling */
nav{
    display: flex;
    background-color:var(--secondarycolor);
    text-align: right;
    color: white;
    /* padding: 15px; */
    align-items: center;
    justify-content: flex-end;
    border-radius: 0 0 5px 5px;
}

nav a, button{
    background-color: var(--primarycolor); 
    font-weight: bold; 
    font-size: 1.1rem; 
    color: var(--secondarycolor); 
    border: none; 
    
    margin: 5px;
    padding: 10px 30px; 
    border-radius: 25px; 
    
    cursor: pointer; /* Pointer cursor to indicate it's clickable */
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

/* Hover effect */
nav a:hover, button:hover {
    background-color: var(--backgroundcolor); 
    transform: translateY(-2px); 
}


/* Welcome Section styling */
.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 20px;
    background-color:var(--secondarycolor);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-size: 3em;
    color: var(--primarycolor);
}

.tagline {
    font-size: 1.5em;
    color: #555;
    margin-top: 0px;
    text-align: center;
}

.content {
    height: 1500px; /* Make the content  scrollable  */
}
/* CREATOR DESIGN*/
.creators {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.creator {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.creator img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}

.creator h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: var(--primarycolor);
}

.creator p {
    font-size: 16px;
}


