:root {
    --backgroundcolor:#122023;
    --backgroundcolorvariant:#FFFFFF;
    --primarycolor:#2ECC40;
    --secondarycolor:#FFFFFF;
    --secondaryaccentcolor:#ededed;
    --greyscaledcolor:#959595;
    --buttonPrimary:#007bff;
    --buttonSecondary:#e90b0b;
    --hyperlinks:#007bff;
    --error:#e90b0b;
    --transparent: rgba(0,0,0,0);
    --popupbackground: rgba(18,32,35,0.5);
}