:root {
    --backgroundcolor:#041a1f;
    --primarycolor:#2ECC40;
    --secondarycolor:#FFFFFF;
    --secondaryaccentcolor:#f0f0f0;
    --hyperlinks:#007bff;
    --error:#e90b0b;
    --transparent: rgba(0,0,0,0)
}