@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS for the Sign Up Form */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0d2556;
    line-height: 20px;

    background-image:url('../resource/loginbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

form {
    background-color: rgba(17, 25, 40, 0.65); /* Make it more transparent */
    backdrop-filter: blur(25px) saturate(150%); /* Increased blur and saturation */
    -webkit-backdrop-filter: blur(25px) saturate(150%); /* For Safari */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Adjust border for a more glassy look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    padding: 20px;
    border-radius: 12px;
    width: 300px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

form div {
    display: flex;
    flex-direction: column;
}

h3{
    text-align: center;
    color: white;
}  

label {
    font-weight: bold;
    margin-bottom: 5px;
    color:var(--secondarycolor);
}

input[type="text"], input[type="password"], select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

input[type="submit"] {
    padding: 10px;
    background-color:var(--primarycolor);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #2d3d30;
    transition: all 0.3s;
}

/* Captcha */
#captcha {
    background-color: gainsboro;
    color: #2d3d30;
    padding: 15px;
    margin: 5px 0;
    text-align: center;
    border-radius: 2px;
    font-size: 25px;
    user-select: none;  
}
  
.captchaInput{
    display: flex;
    flex-direction: row;
}

.refreshCaptcha{
    font-family: 'Poppins',sans-serif;
    background-color: var(--secondaryaccentcolor);
    border: none;

    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin-left: 2px;
    cursor: pointer;
}
.refreshCaptcha:hover{
    background-color: var(--hyperlinks);
    color: var(--secondarycolor);
    transition: all 0.3s;
}

/* Hyperlinks */
a{
    color:var(--hyperlinks);
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

/* Error Message Popup */
.error-message {
    background-color: var(--error);
    border: 1px solid var(--secondarycolor);
    font-family: 'Poppins', sans-serif;
    color: var(--secondarycolor);
    
    padding: 10px;
    width: 100%;
    height: fit-content;
    
    border-radius: 5px;
    
    font-size: 10px;
    
    display: flex;
    align-items: center;
    
    max-width: 300px; /* Set max width if desired */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    user-select: none;
    
    z-index: 1000; /* Ensure it stays on top of other elements */
    top: 5%;
  
    animation: fadeout 3s;
    animation-fill-mode: forwards;
}

.terms{
    display: block;
    color: var(--secondarycolor);
    font-size: 12px;
    text-align: center;
}
.terms a{
    font-size: inherit;    
}

  
.error-message::before {
    content: '⚠️';
    margin-right: 10px;
    font-size: 18px;
}
  
@keyframes fadeout{
    from{opacity: 100%;}
    to{opacity: 0%;}
}