:root {
    --backgroundcolor:#122023;
    --primarycolor:#2ECC40;
    --secondarycolor:#FFFFFF;
    --secondaryaccentcolor:#ededed;
    --hyperlinks:#007bff;
    --error:#e90b0b;
    --transparent: rgba(0,0,0,0)
}